#corpo {
border: 3px solid black;
width: auto;
height: auto;
background-color: #1c2120;

}
#topo{
border: 3px solid #1c2120;
width: auto;
height: 250px;
background-color: #1c2120;
}
#menu {
display: flex;
justify-content: space-around;
align-items: center;
background-image:  #1c2120;
color: rgb(48, 4, 4);
padding: 15px 0;
cursor: pointer;
border-radius: 6px;

}
.botao {
    background-color: #4169e1;
    padding: 10px 20px;
    border-radius: 6px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}


.botao:hover {
    background-color: #4169e1;
}


#conteudo {
display: flex;
justify-content: space-between;
width: 100%;

}

#centro{
border: 3px solid #4169e1;
width: 1000px;
height: 750px;
color:#4169e1

}
#direita{
border: 3px solid #4169e1;
width: 450px;
height: 750px;
color:#4169e1


}
#esquerda{
border: 3px solid #4169e1;
width: 450px;
height: 750px;
color:#4169e1

}
#rodape{
border: 3px solid #4169e1;
width: auto;
height: 60px;
}
